<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <!-- One action per subcommand (exec.argv1), so pkexec picks exactly one:
       a release whose signature lyona-update-root verifies itself, a restore,
       and an install checked by its digest alone, which says so
       (GHSA-x538-46gg-v37h). -->
  <action id="com.lyona.update.manage">
    <description>Install a verified lyona system update</description>
    <message>Authentication is required to install a lyona system update</message>
    <icon_name>system-software-update</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@PREFIX@/libexec/lyona/lyona-update-root</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-system</annotate>
  </action>
  <action id="com.lyona.update.restore">
    <description>Roll back a lyona system update</description>
    <message>Authentication is required to roll back a lyona system update</message>
    <icon_name>system-software-update</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@PREFIX@/libexec/lyona/lyona-update-root</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">restore-system</annotate>
  </action>
  <action id="com.lyona.update.unverified">
    <description>Install a lyona update whose signature was not verified</description>
    <message>Authentication is required to install a lyona update whose signature was NOT verified. Approve this only if you checked the file yourself.</message>
    <icon_name>dialog-warning</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@PREFIX@/libexec/lyona/lyona-update-root</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-unverified</annotate>
  </action>
</policyconfig>
