<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="com.lyona.settings-display.manage">
    <description>Manage the Lyona display configuration</description>
    <message>Authentication is required to change the system display configuration</message>
    <icon_name>video-display</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@PREFIX@/libexec/lyona/dwm-settings-display-root</annotate>
  </action>
</policyconfig>
